# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Model checkpoint link — created by ./bootstrap-mlx-asr.sh
bin/qwen3-asr-mlx
*.safetensors

# macOS
.DS_Store
